<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <clear/>
    <add key="Frag" value="20"/>
    <add key="Intervalo" value="6"/>
    <add key="QueryIndexDefrag" value="DECLARE @dbid INT= DB_ID();
SELECT [table].name [table], 
       [index].name [IndexName], 
       CAST(ps.avg_fragmentation_in_percent AS DECIMAL(18, 2)) frag
FROM sys.tables AS [table]
     INNER JOIN sys.indexes AS [index] ON [table].[object_id] = [index].[object_id]
     CROSS APPLY sys.dm_db_index_physical_stats(@dbid, NULL, NULL, 0, DEFAULT) AS ps
WHERE ps.index_id = [index].index_id
      AND ps.[object_id] = [table].[object_id]
      AND [index].name IS NOT NULL
      AND ps.avg_fragmentation_in_percent > 0
      order by ps.avg_fragmentation_in_percent desc;"/>
  </appSettings>
  <connectionStrings>
    <clear/>
  </connectionStrings>
</configuration>